/*
        đơn vị đo của css : 
            - giá trị tuyệt đối : 
            + px : là 1 điểm ảnh
            - giá trị tương đối :
            + % : là %
            + rem :  ăn theo font-size của thẻ html 
            + em : là ăn theo font-size của thẻ cha gần nhất
                 : nếu là thuộc tính width , height thì ăn thuộc tính luôn 
    */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 20px;
}
/* đơn vị px  */
.block_father {
   width: 500px;
   height: 100px;
   font-size: 18px;
   background-color: green;
   color: red;
}
/* đơn vị đo %  */
.block_farther_two {
   width: 50%;
   height: 200px;
   background-color: yellow;
   color: aqua;
   font-size: 40px;
}
.block_farther_two > pre {
   font-size: 50%;
   height: 80%;
   width: 80%;
   padding: 10px;
   background-color: green;
}
.block_farther_three {
   font-size: 1.5rem;
   height: 10rem;
   width: 50rem;
   padding: 10px;
   background-color: green;
}
.block_farther_four {
   font-size: 20px;
   height: 10em;
   width: 50em;
   background-color: green;
}
/* nếu trong con mà thuộc tính em  không có cỡ chữ thì lấy cỡ chữ cha  */
.block_farther_four .block_con {
   width: 10em;
   height: 5em;
   background-color: #680a0a;
}
/* nếu trong thẻ có cỡ chữ thì lấy theo cỡ chữ con  */
.size {
   font-size: 1.5em;
}
.block_farther_five {
   width: 90vw;
   background-color: #2e86de;
   height: 99vh;
}
